example/*.html
example/*.xml
example/*.json
example/*.png
example/*.txt
example/*.mmd
example/*.md
results/
tv/
ThreatPlaybook.egg-info/*
dist/*
threat_playbook/ThreatPlaybook.egg-info/dependency_links.txt
threat_playbook/ThreatPlaybook.egg-info/entry_points.txt
threat_playbook/ThreatPlaybook.egg-info/PKG-INFO
threat_playbook/ThreatPlaybook.egg-info/requires.txt
threat_playbook/ThreatPlaybook.egg-info/SOURCES.txt
threat_playbook/ThreatPlaybook.egg-info/top_level.txt
venv3/*
threat_playbook/*.bak
threat_playbook/test/scan_files/ctf.json
threat_playbook/test/scan_files/ctf.json
