example/*.html
example/*.xml
example/*.json
example/*.png
example/*.txt
example/*.mmd
example/*.md
results/
tv/
ThreatPlaybook.egg-info/*
dist/*
threat_playbook/ThreatPlaybook.egg-info/dependency_links.txt
threat_playbook/ThreatPlaybook.egg-info/entry_points.txt
threat_playbook/ThreatPlaybook.egg-info/PKG-INFO
threat_playbook/ThreatPlaybook.egg-info/requires.txt
threat_playbook/ThreatPlaybook.egg-info/SOURCES.txt
threat_playbook/ThreatPlaybook.egg-info/top_level.txt
venv3/*
v1/ThreatPlaybook.egg-info/top_level.txt
v1/ThreatPlaybook.egg-info/SOURCES.txt
v1/ThreatPlaybook.egg-info/requires.txt
v1/ThreatPlaybook.egg-info/PKG-INFO
v1/ThreatPlaybook.egg-info/entry_points.txt
v1/ThreatPlaybook.egg-info/dependency_links.txt
v3/cli/.cred
v3/cli/schematest.json
v3/cli/schema.schema
v3/cli/threat_model_example.json
v3/cli/case_example.json
v3/cli/repo_gql.json
v3/cli/feature_test.json
v3/api/.env
.idea/encodings.xml
*.xml
*.xml
.idea/vcs.xml
.idea/ThreatPlaybook.iml
v3/api/.env
v3/api/.env
.idea/vcs.xml
.idea/*
v3/threatplaybook_db/
v3/robot/test/log.html
v3/robot/test/report.html
v3/.DS_Store
v3/frontend/.DS_Store
.DS_Store
api/.env
threatplaybook_db/*
robot/test/log.html
robot/test/report.html
robot/test/log.html
robot/test/report.html
robot/test/log.html
*.html
v3/frontend/ThreatPlaybook-Frontend/node_modules/
v3/frontend/ThreatPlaybook-Frontend/dist/
v3/frontend/ThreatPlaybook-Frontend/npm-debug.log*
v3/frontend/ThreatPlaybook-Frontend/yarn-debug.log*
v3/frontend/ThreatPlaybook-Frontend/yarn-error.log*
v3/frontend/ThreatPlaybook-Frontend/package-lock.json
frontend/ThreatPlaybook-Frontend/node_modules/
frontend/ThreatPlaybook-Frontend/npm-debug.log*
frontend/ThreatPlaybook-Frontend/yarn-debug.log*
frontend/ThreatPlaybook-Frontend/yarn-error.log*
frontend/ThreatPlaybook-Frontend/package-lock.json
# frontend/ThreatPlaybook-Frontend/.babelrc
# frontend/ThreatPlaybook-Frontend/.editorconfig
Pipfile.lock
Pipfile
cli/dist/ThreatPlaybook-Client-3.0.3.tar.gz
cli/playbook/.cred
venv/
*.pyc
api/__pycache__/utils.cpython-37.pyc
api/__pycache__/models.cpython-37.pyc
.vscode/settings.json
*.lock
apiv2/.vscode/settings.json
apiv2/tp_api/logs/output.log
apiv2/logs/output.log
logs/output.log
website/node_modules/*
frontend/Playbook-Frontend/package-lock.json
api/tp_api/logs/output.log
