[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
docopt = "*"
requests = "*"
huepy = "*"
pickledb = "*"
jsonschema = "*"

[requires]
python_version = "3.6"
