appdirs==1.4.3
attrs==19.3.0
bcrypt==3.1.7
black==19.10b0
blinker==1.4
cffi==1.14.0
click==7.1.1
entrypoints==0.3
flake8==3.7.9
flasgger==0.9.4
Flask==1.1.2
Flask-Cors==3.0.8
flask-mongoengine==0.9.5
Flask-WTF==0.14.3
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
loguru==0.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mongoengine==0.19.1
more-itertools==8.2.0
packaging==20.3
pathspec==0.8.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
PyJWT==2.4.0
pymongo==3.10.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.1
pytest-flask==1.0.0
PyYAML==5.3.1
regex==2020.4.4
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
wcwidth==0.1.9
Werkzeug==1.0.1
WTForms==2.3.1
zipp==3.1.0
